.nav-list {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-list li {
  margin: 0;
  display: inline-block;
}

.nav-list li:not(:last-child):after {
  content: "/";
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.nav-list li a {
  display: inline-block;
}

.main-nav .nav-list {
  font-size: var(--fontSize-1);
}

.main-nav .nav-list li:not(:last-child):after {
  font-size: var(--fontSize-1);
}

.main-nav .nav-list li a {
  padding: 0.5em 0 0.3em 0;
}

.header-link-page .nav-list {
  font-size: 0.8em;
}

.header-diaglog {
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 2;
  transition: 1s;
}

[data-activescrolling="true"] .header-diaglog {
  right: 10%;
  background-color: var(--color-background);
  transition: 1s;
}