.remark-copy-header {
  display: flex;
  background-color: var(--color-background-block-272822);
  font-size: 0.8rem;
  transform: translateY(1em);
  border-radius: 8px 8px 0 0;
}

.remark-text {
  padding: 0.5em 1em;
  margin-left: 0.5em;
  background-color: var(--color-tag-ADADFF);
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.remark-button {
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-left: auto;
}

.remark-button .btn {
  padding: 0.5em 1em;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--color-button-FFBD38);
  color: var(--color-accent-1F1F1F);
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.remark-button .btn:hover {
  opacity: 0.8;
  cursor: pointer;
}