/* algolia search assets */
.ais-Hits {
  position: absolute;
  z-index: 3;
  right: 20%;
  left: 1.5rem;
  margin-top: -1.5rem;
  background-color: var(--color-background-004675);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.ais-Hits * {
  color: var(--color-accent-DDDDE9);
}

.ais-Hits ol {
  list-style: none;
}

.search-box form {
  display: flex;
  padding: 0 1.5em 0 1.5em;
  margin-bottom: 1.5rem;
}

.search-box button {
  display: none;
}
.search-box input {
  flex-grow: 1;
  border-radius: 50px;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  background-color: #eee;
  line-height: 1.3rem;
  font-size: 1.3rem;
  letter-spacing: var(--spacing-1);
  color: #FE5B30;
}