.main-heading {
  margin: 0;
  text-align: center;
  font-family: var(--fontFamily-carlo);
  font-size: var(--fontSize-7);
}

.header-link-home {
  font-family: var(--fontFamily-carlo);
  font-weight: var(--fontWeight-bold);
  text-decoration: none;
  font-size: var(--fontSize-2);
}